h2 {
    color: $subtitle;
    font-family: $font-nav;
    margin: $centrado-sub;
}

.container-testimonios {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: repeat(2, 600px);
    justify-content: center;
    margin: 50px 200px;
    gap: 30px;
    font-family: $font-test;
    font-size: 16px;


    div {
        display: grid;
        gap: 10px;
        border: double;
        border-width: 8px;
        margin: 30px;
        padding: 50px;
        border-radius: 100px 50px 20px 200px;
        border-color: $blue;  
    }

    img {
        height: 175px;
    margin-left: 250px;
    margin-top: -45px;
    border-radius: 60px;
    opacity: .8;
    }
}



