/* colores */
$primary-color: #F2FCFB;
$blue: #BBF7F0;
$subtitle: #FDBBC7;
$bg-receta:#D3FAFB;

/*fuentes*/
$font-nav: 'Satisfy', cursive;
$font-test: 'Poppins', sans-serif;
$size-nav: 26px;

/* img*/
 
$centrado-img: 10px 300px;
$centrado-sub: 5px 0px 0px 900px;