@media (max-width:500px) {
    
    .container-header {
        display: flex;
        flex-direction: row;
        width: 20%;
        margin-left: 300px;
    }

  .nav_responsive-ul {
    display: inline-block;
     
  }

  

  .nav_li {
      display: inline-block;
      padding: 9px;
      background-color:#F2FCFB;
  }
    
  .container-main{
      width: 10% ;
      margin: 20px 20px 0px 325px;
  }

  .container-main img {
      object-fit: contain;
      width: 650px;
      margin-right: 0;
  }
h2{
    text-align: center;
    margin-left: 270px;
}
  .container-testimonios {
      display:grid;
      grid-template-columns: 600px;
      margin:0 0 20px 100px;
  }

  .container-testimonios div {
      margin-left: 160px;  
      margin-right: -150px;
    }

.container-recetas {
    display: grid;
    margin-left: 100px;
    padding:20px;
    
}

.container-recetas {
    display: grid;
    
    justify-content: center;
    grid-template-columns: 700px;
    grid-template-rows: repeat(4, 500px);
    gap: 40px;
    margin-left: 150px;
    margin-right: -190px;
    margin-bottom: -350px;
    
}

.container-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-right: 0;
    
}



.facebook {
    margin: 5px 10px 20px 350px;
    padding:20px;
    width: 500px
}

.instagram {
    margin: 5px 10px 20px 300px;
    padding:20px;
    width: 500px
}

.whatsapp {
    margin: 5px 10px 20px 350px;
    padding:20px;
    width: 500px
}


}